/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    background-color: #ECE3C1;
    background-image: url("fortune-cookie.png");
    background-size:cover;
    background-repeat:no-repeat;
}

li{
    list-style-type: none;
}

.fortune-cookie-saying-wrapper {
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
}